div#container{
    margin: 0px;
    width: 100%;
    border: 1px solid green;
}
header,footer{
    padding: 1em;
    color: white;
    background-color: lightseagreen;
    clear: left;
    text-align: center;
}
nav{
    float: left;
    max-width: 200px;
    margin: 0px;
    padding: 1em;
}
nav ul{
    list-style-type: none;
    padding: 0px;
}
nav ul li {
    display: block;
    font-size: 25px;
    font-family: "Times New Roman";
}
nav ul li a{
    text-decoration: none;
    color: lightseagreen;
}
article{
    margin-left: 210px;
    overflow: hidden;
    height: 600px;
}
